body {
  background: #fefefe;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 15pt;
}

main {
  max-width: 75%;
  margin: auto;
}

header {
  border-bottom: 1px solid #afafaf;
}

footer {
  text-align: right
}

h1 {
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 2;
}

ul #results  {
  display: table;
}

#btn{
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 15pt;
}

.error, #error {
	color: red;
	font-weight: bold;
}

.inputClass {
	border: 3px solid rgb(208, 255, 0);
	background-color: #eee;
}